.footer {
    max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: $dark-bgcolor;
    @media screen and (min-width: 768px) {
        max-width: none;
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        width: auto;
    }
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
}

.footer__logo {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }
}

.footer__logo--blue {
    color: $accent-color;
}

.footer__logo--white {
    color: $white-color;
}

.footer__address-entry {
    display: block;
    margin-bottom: 8px;

    color: $white-color;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: $footer-fsize;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__contact-item:not(:last-child) {
    display: block;
    margin-bottom: 8px;
}
.footer__contact-item {
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}
.footer__contacts {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    text-align: center;
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}
.footer__contact {
    color: $footer-contact-color;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: $footer-fsize;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color $transition-time-and-cubic;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer__socials {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-left: 70px;
        margin-right: 0;
    }
}

.footer__socials-header {
    margin-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: $footer-fsize;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer__socials-list {
    display: flex;
    gap: 10px;
}

.footer__social--dark {

    border-radius: $footer-social-btn-radius;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white-color;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    width: 44px;
    
    transition: background-color $transition-time-and-cubic;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}
.footer__subscribtion {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        width: 570px;
        margin-left: auto;
        margin-right: 0;
    }
}
.footer__subscribtion-header {
    text-align: center;

    font-weight: 700;
    font-size: $footer-fsize;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer__form--wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 12px;
    }
    
}

.footer__label--stylish {
    width: 100%;
    text-align: center;
    @media screen and (max-width: 1199px) {
        max-width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}
.footer__input--stylish {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;

    color: $footer-input-color;
    padding-left: 16px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

::placeholder {
    color: $footer-placeholder-color;
  }

.footer__subscribe-button {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    font-size: $button-fsize;
    font-weight: $button-fweight;
    line-height: $button-lheight;
    letter-spacing: $button-lspacing;
    color: $white-color;
    
    background-color: $accent-color;

    min-width: $button-width;
    min-height: $button-height;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $button-bradius;
    border: 0;

    &:hover {
        cursor: pointer;
    }
    @media screen and (min-width: 1200px) {
        width: 200px;
        height: 50px;
    }
}

.footer__subscribe-button-icon {
    margin-left: 10px;
  }