.hero {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-color: $hero-bgcolor;

    background-image: $hero-bg-image;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 768px) {
        max-width: none;
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        width: auto;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    line-height: $hero-title-lheight;
    letter-spacing: $hero-title-lspacing;
    text-transform: uppercase;

    color: $white-color;
    @media screen and (min-width: 768px) {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
    }
    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
    }
}

.hero__button {

    color: $white-color;
    font-weight: $button-fweight;
    line-height: $button-lheight;
    letter-spacing: $button-lspacing;
    
    background-color: $accent-color;

    min-height: $button-height;
    width: $button-width;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $button-bradius;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}