.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
    @media screen and (min-width: 320px) and (max-width: 479px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.portfolio__filter-button {
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;

    color: $dark-color;
    background-color: $offwhite-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;
    
    transition: color $transition-time-and-cubic,
                background-color $transition-time-and-cubic,
                box-shadow $transition-time-and-cubic;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__works-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

.portfolio__card {
    background: #FFFFFF;
    transform: box-shadow $transition-time-and-cubic;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__card-descr,
    &:focus .portfolio__card-descr {
        transform: translateY(0);
    }
}

.portfolio__card-image {
    margin-bottom: -4px;
}

.portfolio__card-border {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        height: 146px;
    }
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__card-title {
    color: $dark-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        display: block;
        width: 304px;
    }
}

.portfolio__card-type {
    color: $grey-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio__card-thumb {
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 320px) and (max-width: 479px) {
        width: 100%;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 450px;
        height: 294px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: 294px;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
        height: 294px;
    }
}

.portfolio__card-descr {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transform: translateY(100%);
    transition: transform $transition-time-and-cubic;

}